# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [ ]:
a=int(input("Enter length : "))
b=int(input("Enter breadth : "))
if a==b:
  print('square')
else:
  print('not square')

20
40
not square

2. Take three integer values from the user and print the greatest among them.

In [ ]:
x=int(input())
y=int(input())
z=int(input())
if x>z and x>y:
  print('The biggest number is:',x)
elif y>z and y>x:
  print('The biggest number is:',y)
else:
  print('The biggest number is:',z)

4
2
7
The biggest number is: 7

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [2]:
Total_classes=int(input())
Class_attend=int(input())

attendance = (Class_attend / Total_classes) * 100

if attendance < 75:
    print("Not allowed to sit in the exam")

else:
    print("Allowed to sit in the exam")

20
16
Allowed to sit in the exam

# 4. A school has the following rules for the grading system:

In [9]:
M=int(input("Enter your number: "))
if 25>M:
  print('F')
elif 80<= M <=89:
  print('A')
elif 60<= M <=79:
  print('B')
elif 50<= M <=59:
  print('C')
elif 45<= M <=49:
  print('D')
elif 25<= M <=44:
  print('E')
else:
  print('A+')

Enter your number: 34
E

# 5. Print the following pattern using for and while loop.

In [18]:
for i in range(8,4,-1):
        for k in range(1,i):
            print(k, end=" ")
        print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [22]:
i = 7
while i > 3:
    j = 1
    while j <= i:
        print(j, end=" ")
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

# 6. Display numbers from -100 to -10 using for loop.

In [24]:
for i in range(-100, -9):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

# 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [26]:
first_num = 10
last_num = 1000
sum = 0

for number in range(first_num, last_num + 1):
    if number > 1:
        is_prime = True

        for i in range(2, int(number ** 0.5) + 1):
            if number % i == 0:
                is_prime = False
                break

        if is_prime:
            sum += number

print(f"Sum of prime numbers from {first_num} to {last_num} is: {sum}")

Sum of prime numbers from 10 to 1000 is: 76110

# 8.** Find the factorial of an n!** (Hint, n=7: 7*6*5*4*3*2*1).

In [27]:

num =int(input())
factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

7
The factorial of 7 is 5040

# 9. Reverse a given integer number 27956240710.

In [29]:
num = 2795624071
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 1704265972

# 10. Print the following pattern using for and while loop.

In [31]:
num = 3
i=0
if i==0:
    for i in range(num):
        print('#',end=' ')
    print()

for j in range(num+1,1,-1):
    for k in range(j):
        print('#',end=' ')
    print()

# # #
# # # #
# # #
# #

In [32]:
num = 3
i = 0
while i < num:
    print("#", end=" ")
    i += 1
print()

j = num + 1
while j > 1:
    k = 0
    while k < j:
        print("#", end=" ")
        k += 1
    print()
    j -= 1

# # #
# # # #
# # #
# #

# 11. Display the Fibonacci series of 15 elements using the for and while loop.

In [33]:
n = 15
fibonacci_series = [0, 1]

for i in range(2, n):
    next_element = fibonacci_series[i-1] + fibonacci_series[i-2]
    fibonacci_series.append(next_element)

print(fibonacci_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
n = 15
fibonacci_series = [0, 1]

i = 2
while i < n:
    next_element = fibonacci_series[i-1] + fibonacci_series[i-2]
    fibonacci_series.append(next_element)
    i += 1

print(fibonacci_series)

# 12. Remove 2 and add 3 to the list and replace True with False.

In [34]:
Li = [1, 3, 5, [2, 3], True]

Li[3].remove(2)
Li[3].append(3)

Li[-1] = False

print(Li)

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.

In [35]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection_set = S1.intersection(S2)

print(intersection_set)

{True}

# 14. Input a list from the user then Remove duplicates from a list and create a set and find the max

In [38]:
user_input = [1, 9, 3, 4, 5, 4, 200, 54]

unique_numbers = list(set(user_input))

max_number = max(unique_numbers)

print("without duplicates numbers:", unique_numbers)
print("Maximum number:", max_number)

without duplicates numbers: [1, 3, 4, 5, 200, 9, 54]
Maximum number: 200

# 15. Rename the key of a dictionary.

In [39]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict["region"] = Dict.pop("country")

print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

# 16. Creating a data frame using the list.

In [40]:
import pandas as pd

num = [10, 100, 300]
df = pd.DataFrame(num, columns=['number'])

print(df)

   number
0      10
1     100
2     300

# 17. Change the value of a key in a given dictionary.

In [41]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict["age"] = 28

print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}